{{ form_start(form, {'attr': {'class': 'needs-validation'}}) }}
<div class="mb-3 ">
	{{ form_label(form.title, 'Titre de la tâche', {'label_attr': {'class': 'form-label fw-bold'}}) }}
	{{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
</div>

<div class="mb-3">
	{{ form_label(form.descriptionTask, 'Description', {'label_attr': {'class': 'form-label fw-bold'}}) }}
	{{ form_widget(form.descriptionTask, {'attr': {'class': 'form-control', 'rows': '4'}}) }}
</div>

<div class="row">
	<div class="col-md-6 mb-3">
		{{ form_label(form.initDate, 'Date de début', {'label_attr': {'class': 'form-label fw-bold'}}) }}
		{{ form_widget(form.initDate, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="col-md-6 mb-3">
		{{ form_label(form.finishDate, 'Date prevue de fin', {'label_attr': {'class': 'form-label fw-bold'}}) }}
		{{ form_widget(form.finishDate, {'attr': {'class': 'form-control'}}) }}
	</div>
</div>

<div class="mb-3">
	{{ form_label(form.flagTask, 'État de la tâche', {'label_attr': {'class': 'form-label fw-bold'}}) }}
	{{ form_widget(form.flagTask, {'attr': {'class': 'form-select'}}) }}
</div>
{% if task.employe %}
	<p class="fw-bold text-primary">La tache est affecte a l'utilisateur :
		{{  task.employe }}</p>
	<img src="{{ asset(task.employe.photoUser) }}" alt="{{ task.employe.firstName ?: 'Team Member' }}" class="img-fluid rounded-circle" style="width: 150px; height: 150px; object-fit: cover;">
	<p class="fw-bold text-primary">Pour modifier l'affectation de la tache, choissez un autre employé</p>
{% endif %}
<hr>
<h4 class="fw-bold text-primary text-center">Selectionner un employé pour affecter la tâche</h4>

{% for choice in form.employe %}
	<label class="d-flex align-items-center gap-3 p-2 rounded shadow-sm employe-label">
		<input type="radio" name="{{ choice.vars.full_name }}" value="{{ choice.vars.value }}" {% if choice.vars.checked %} checked {% endif %} class="d-none">
		<div class="employe-photo">
			<img src="{{ asset(choice.vars.attr['data-photo']|default('default.jpg')) }}" alt="Foto de {{ choice.vars.label }}" class="rounded-circle">
		</div>
		<div class="employe-info">
			<strong class="d-block">{{ choice.vars.label|split('@')|first }}</strong>
			<small class="text-muted">{{ choice.vars.label }}</small>
		</div>

	</label>
{% endfor %}

<hr>
<link rel="stylesheet" href="{{asset('assets/css/email.css')}}">
<div class="text-center mt-3">
	<button type="submit" class="btn btn-primary px-4 py-2">
		<i class="bi bi-save"></i>
		{{ button_label|default('Enregistrer') }}</button>
</div>
{{ form_widget(form.employe, {'attr': {'hidden': 'hidden'}}) }}


{{ form_end(form) }}
