{{ form_start(form, {'attr': {'class': 'needs-validation'}}) }}

<div class="mb-3">
	{{ form_label(form.title, 'Titre de la tâche', {'label_attr': {'class': 'form-label fw-bold'}}) }}
	{{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
</div>

<div class="mb-3">
	{{ form_label(form.descriptionTask, 'Description', {'label_attr': {'class': 'form-label fw-bold'}}) }}
	{{ form_widget(form.descriptionTask, {'attr': {'class': 'form-control', 'rows': '4'}}) }}
</div>

<div class="row">
	<div class="col-md-6 mb-3">
		{{ form_label(form.initDate, 'Date de début', {'label_attr': {'class': 'form-label fw-bold'}}) }}
		{{ form_widget(form.initDate, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="col-md-6 mb-3">
		{{ form_label(form.finishDate, 'Date de fin', {'label_attr': {'class': 'form-label fw-bold'}}) }}
		{{ form_widget(form.finishDate, {'attr': {'class': 'form-control'}}) }}
	</div>
</div>

<div class="mb-3">
	{{ form_label(form.flagTask, 'État de la tâche', {'label_attr': {'class': 'form-label fw-bold'}}) }}
	{{ form_widget(form.flagTask, {'attr': {'class': 'form-select'}}) }}
</div>
{% if task.employe %}
	<p class="fw-bold text-primary">La tache est affecte a l'utilisateur :
		{{  task.employe }}</p>
	<p class="fw-bold text-primary">Pour modifier l'affectation de la tache, entrez une nouvelle email</p>
{% endif %}
{# _______________  fotos _______________ #}
<hr>
{% if employe %}
	<div class="d-flex flex-wrap justify-content-center align-items-center mt-3">
		{% for employe in employes %}
			<div class="me-3 mb-3 d-flex flex-column align-items-center">
				<button type="button" class="btn btn-none " value="{{ employe.email }}"><img src="{{ asset(employe.photoUser) }}" alt="{{ employe.firstName ?: 'Team Member' }}" class="img-fluid rounded-circle" style="width: 150px; height: 150px; object-fit: cover;">
					<p class="mt-2 fw-bold">
						{{ employe.firstName ?: 'Unknown' }}
						({{ employe.email ?: 'Unknown' }})
					</p>
				</button>
			</div>
		{% endfor %}
	</div>
{% endif %}
{# _______________  fotos _______________ #}

<div class="mb-3">
	{{ form_label(form.employe, 'Matricule de l\'utilisateur', {'label_attr': {'class': 'form-label fw-bold'}}) }}
            {{ form_widget(form.employe, {'attr': {'class': 'form-control', 'placeholder': 'Entrez le email'}}) }}

            <small>
    <a href="{{ path('app_user_search') }}" class="text-primary" target="_blank" rel="noopener noreferrer">
		        Chercher un Employe
</a></small></div><div class="text-center mt-3"><button type="submit" class="btn btn-primary px-4 py-2">
<i class="bi bi-save"></i>
{{ button_label|default('Enregistrer') }}</button></div>
{{ form_end(form) }}
