{% extends 'base.html.twig' %}
{% block title %}Task Index
{% endblock %}
{% block body %}
	{% for message in app.flashes('success') %}
		<div class="alert alert-success fade-out position-absolute m-3" style="transition: opacity 0.5s ease-in-out;">
			{{ message }}
		</div>
	{% endfor %}
	{% if is_granted('ROLE_ADMIN') %}
		<div class="text-end m-4">
			<a href="{{ path('app_task_new') }}" class="btn btn-success">Créer une nouvelle tâche</a>
		</div>
	{% else %}
		{% if is_granted('ROLE_MANAGER') %}
			<div class="text-end m-4">
				<a href="{{ path('app_task_new') }}" class="btn btn-success">Créer une nouvelle tâche</a>
			</div>
		{% endif %}
	{% endif %}
	<div class="container-fluid w-75 mt-5 mb-5">
		<h1 class="text-center text-success mb-5 ">
			Les tâches pour le projet :
			{{ project.projectName }}
		</h1>
		<div class="row g-4">
			{% if tasks is empty %}
				<p class="text-center">No tasks found for this project</p>
			{% else %}
				{% for task in tasks %}
					<div class="col-md-6 col-lg-4">
						<a href="{{ path('app_task_show', { id: task.id }) }}" class="text-decoration-none">
							<div class="card shadow-sm h-100 border-light text-light">
								<div class="card-body ">
									<h5 class="card-header">{{ task.title }}</h5>
									<strong>Description:</strong>
									{{ task.descriptionTask }}</p>
								<p class="{% if task.flagTask == 'completed' %}text-success{% else %}text-danger{% endif %}">
									<strong>Status:</strong>
									{{ task.flagTask }}
								</p>
								<p>{{ task.employe}}</p>
							</div>
						</div>
					</a>
				</div>
			{% endfor %}
		{% endif %}
	</div>
</div>{% endblock %}
