{% extends 'base.html.twig' %}

{% block title %}Task{% endblock %}

{% block body %}
    <h1>Task</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ task.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ task.title }}</td>
            </tr>
            <tr>
                <th>DescriptionTask</th>
                <td>{{ task.descriptionTask }}</td>
            </tr>
            <tr>
                <th>InitDate</th>
                <td>{{ task.initDate ? task.initDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>FinishDate</th>
                <td>{{ task.finishDate ? task.finishDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>FlagTask</th>
                <td>{{ task.flagTask }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_task_index') }}">back to list</a>

    <a href="{{ path('app_task_edit', {'id': task.id}) }}">edit</a>

    {{ include('task/deleteTask.html.twig') }}
{% endblock %}
