<div {{ attributes }} data-controller="live">
    {{ form_start(form) }}

    <div class="mb-3">
        {{ form_row(form.matricule) }}
        {% if form.matricule.vars.value is empty %}
            <div class="text-danger">La matricule est obligatoire</div>
        {% endif %}
    </div>

    <div class="mb-3">
        {{ form_label(form.email) }}
        {% if email is empty %}
            <div class="text-danger">L'email est obligatoire</div>
        {% endif %}
        {{ form_widget(form.email, {
            attr: {
                'data-live-name': 'email',
                'data-action': 'blur->live#action',
                'data-live-action-param': 'checkEmail',
                'data-model': 'email'
            }
        }) }}
        {{ form_errors(form.email) }}
        {% if emailExists %}
            <small class="text-danger">L'utilisateur est deja cadastre</small>
        {% endif %}
    </div>

    {% if form.password is defined %}
        <div class="mb-3">
            {{ form_row(form.password.first) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.password.second) }}
        </div>
    {% endif %}

    <div class="mb-3">
        {{ form_row(form.firstName) }}
        {% if form.firstName.vars.value is empty %}
            <div class="text-danger">le prenom est obligatoire</div>
        {% endif %}
    </div>

    <div class="mb-3">
        {{ form_row(form.lastName) }}
        {% if form.lastName.vars.value is empty %}
            <div class="text-danger">l'nom est obligatoire</div>
        {% endif %}
    </div>

    <div>
        {{ form_label(form.birthday) }}
        {% if birthday is empty %}
            <div class="text-danger">l'anniversaire est obligatoire</div>
        {% endif %}
        {{ form_widget(form.birthday, {
            attr: {
                'data-action': 'blur->live#action',
                'data-live-action': 'validateBirthday',
                'data-live-action-param': 'validateBirthday',
                'data-model': 'birthday'
            }
        }) }}
        {% if not birthdayIsValid %}
            <div class="text-danger">l'anniversaire est invalide</div>
        {% endif %}
    </div>

    <div class="mb-3">
        {{ form_row(form.telephone) }}
    </div>

    <div class="mb-3">
        {{ form_row(form.team) }}
    </div>

    <div class="mb-3">
        {{ form_row(form.service) }}
    </div>

    <div class="mb-3">
        {{ form_row(form.nameUser) }}
    </div>

    <div class="mb-3">
        {{ form_row(form.photoUser) }}
    </div>

    {# Variável que reúne as condições para desabilitar o botão #}
    {% set disableSubmit = (email is empty or birthday is empty or not birthdayIsValid or emailExists) %}
    <button type="submit" class="btn btn-primary w-100 mt-3" {{ disableSubmit ? 'disabled' }}>
        {{ button_label|default('Save') }}
    </button>

    {{ form_end(form) }}
</div>
