{% extends 'base.html.twig' %}
{% block title %}Project Details
{% endblock %}
{% block body %}
	<div class="container mt-5 mb-5">
		<h1 class="text-center text-primary mb-4">Project Details</h1>
		<div
			class="card shadow-sm">
			<!-- Imagem do Projeto -->
			<img src="{{ project.imageProject ? asset(project.imageProject) : asset('path/to/default-image.jpg') }}" alt="Project Image" class="card-img-top" style="height: 300px; object-fit: cover;">
			<div class="card-body">
				<div class="d-flex justify-content-between">
					<h2 class="card-title text-primary">{{ project.projectName }}</h2>
					<h3>{{ project.isFinish }}</h3>
					<h3 {% if flagTaskStatus =='Le Project est Termine' %} class="text-success" {% else %} class="text-danger" {% endif %}>{{ flagTaskStatus }}</h3>
				</div>
				<p class="card-text mb-2">
					<strong>Description:</strong>
					{{ project.description }}
				</p>
				<div class="row">
					<div class="col-md-6 col-sm-12 mb-3 d-flex flex-column">

						<p>
							<strong>Start Date:</strong>
							{{ project.initDate ? project.initDate|date('Y-m-d') : 'N/A' }}<br>
							<strong>Finish Date:</strong>
							{{ project.finishDate ? project.finishDate|date('Y-m-d') : 'N/A' }}
						</p>
					</div>
				</div>
				<div class="mb-3 d-flex flex-column align-items-center">
					<h4 class="text-primary fw-bold mb-3">Team Members:</h4>

					{% if project.employe is not empty %}
						<div class="d-flex flex-wrap justify-content-center align-items-center">
							{% for employe in project.employe %}
								<div class="me-3 mb-3 d-flex flex-column align-items-center">
									<img {% if employe.photoUser %} src="{{ asset(employe.photoUser)}}" {% else %} src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7vB-49_BT-dirwttYZaeE_VByjlQ3raVJZg&s" {% endif %} alt="{{ employe.firstName ?: 'Team Member' }}" class="img-fluid rounded-circle" style="width: 150px; height: 150px; object-fit: cover;">
									<p class="mt-2 fw-bold">
										{{ employe.firstName ?: 'Unknown' }}
										({{ employe.email ?: 'Unknown' }})
									</p>
								</div>
							{% endfor %}
						</div>
					{% else %}
						<p class="text-muted">Il n'y a aucun employé pour ce projet.</p>
					{% endif %}
				</div>
			</div>
			<a href="{{ path('app_task_index') }}" id="taskButton" class="btn btn-primary me-2 mb-3 w-75 align-self-center" aria-label="Go to Task List">
				<i class="bi bi-list-task"></i>
				Tâches
			</a>
			<div
				class="card-footer text-center mt-4 mb-4 d-flex justify-content-center">
				<!-- Botões -->
				<a href="{{ path('app_project_index') }}" class="btn btn-outline-secondary me-2 mb-3" aria-label="Back to Project List">
					<i class="bi bi-arrow-left-circle"></i>
					Back to List
				</a>

				<a href="{{ path('app_project_edit', {'id': project.id}) }}" class="btn btn-warning me-2 mb-3" aria-label="Edit Project">
					<i class="bi bi-pencil"></i>
					Edit
				</a>
				{{ include('project/projectDelete.html.twig') }}
			</div>
		</div>

	</div>
{% endblock %}
