<div class="col-12">
	{{ form_start(form) }}

	<div class="mb-3">
		{{ form_row(form.matricule) }}
	</div>

	<div class="mb-3">
		{{ form_row(form.email, {'attr': {'onblur': 'checkEmail()','id': 'email'}}) }}
		<p>
			<small class="text-danger d-none" id="emailError">L'utilisateur est deja cadastre</small>
		</p>

		<div class="mb-3">
			{{ form_row(form.password.first) }}
		</div>

		<div class="mb-3">
			{{ form_row(form.password.second) }}
		</div>

		<div class="mb-3">
			{{ form_row(form.firstName) }}
		</div>

		<div class="mb-3">
			{{ form_row(form.lastName) }}
		</div>

		<div class="mb-3">
			{{ form_row(form.birthday) }}
		</div>

		<div class="mb-3">
			{{ form_row(form.telephone) }}
		</div>

		<div class="mb-3">
			{{ form_row(form.team) }}
		</div>

		<div class="mb-3">
			{{ form_row(form.service) }}
		</div>

		<div class="mb-3">
			{{ form_row(form.nameUser) }}
		</div>

		<div class="mb-3">
			{{ form_row(form.photoUser) }}
		</div>

		<button class="btn btn-primary w-100 mt-3">{{ button_label|default('Save') }}</button>

		{{ form_end(form) }}
	</div>
