{% extends 'base.html.twig' %}

{% block title %}User index
{% endblock %}

{% block body %}
	<div class="container mt-5 mb-5 w-100">

		<h1>User index</h1>
		<div class=" p-3 bg-light">
			<div class="table-responsive">

				<table class="table table-striped table-hover table-bordered">
					<thead>
						<tr>
							<th>Id</th>
							<th>Email</th>
							<th>Roles</th>
							<th>Password</th>
							<th>Matricule</th>
							<th>FirstName</th>
							<th>LastName</th>
							<th>Birthday</th>
							<th>Telephone</th>
							<th>Service</th>
							<th>NameUser</th>
							<th>PhotoUser</th>
						</tr>
					</thead>
					<tbody>
						{% if app.user %}
							<tr>
								<td>{{ app.user.id }}</td>
								<td>{{ app.user.email }}</td>
								<td>{{ app.user.roles ? app.user.roles|json_encode : '' }}</td>
								<td>{{ app.user.matricule }}</td>
								<td>{{ app.user.firstName }}</td>
								<td>{{ app.user.lastName }}</td>
								<td>{{ app.user.birthday ? app.user.birthday|date('Y-m-d') : '' }}</td>
								<td>{{ app.user.telephone }}</td>
								<td>{{ app.user.service }}</td>
								<td>{{ app.user.nameUser }}</td>
								<td><img src="{{ asset('' ~ app.user.photoUser) }}" alt="User Photo" class="img-fluid rounded-circle"></td>

								<td>
									<a href="{{ path('app_user_show', {'id': app.user.id}) }}" class="btn btn-info btn-sm m-2">
										<i class="bi bi-eye"></i>
									</a>
									<a href="{{ path('app_user_edit', {'id': app.user.id}) }}" class="btn btn-warning btn-sm m-2">
										<i class="bi bi-pencil-fill"></i>
									</a>
								</td>

							</tr>
						{% else %}
							<tr>
								<td colspan="13">no records found</td>
							</tr>
						{% endif %}
					</tbody>

				</table>
			</div>

		</div>
		<button class="btn btn-primary mt-3">
			<a href="{{ path('app_user_new') }}" class="btn btn-primary">Create new</a>
		</button>
	</div>
{% endblock %}
